/**
 * Created by Soumyajit.Jagadev on 08-Jun-20.
 */
.bgWhite{background-color: white;}
.bgGrey{background-color: rgb(243, 242, 242);}
.headerCol{background-color:#DDEBF6;}
.rowNumCol{background-color:#FEF2CC;}
.mappingCol{background-color:#FCE4D6}
.colorBox {width: 20px;height: 20px;}