.slds-box{
    border : 2px solid #FFCC00 !important;
    padding : 7px !important;
}
.zoomout{
    font-size : 11px;
    padding : 0px !important;
    background : white;
}
.clsplant{
    background-color: #9BC2E6;   
}
.cls1{
    background-color: #C6E0B4;
}
.cls2{
    background-color: #E2EFDA; 
}
.cls3{
    background-color: #F8CBAD;
}
.cls4{
    background-color: #FCE4D6; 
}
.cls5{
    background-color: #FFC000;
}
.cls6{
    background-color: #FFF2CC; 
}
.cls7{
    background-color: #8EA9DB;
}
.cls8{
    background-color: #D9E1F2; 
}
.cls9{
    background-color: #FF99CC; 
}
.cls10{
    background-color: #BF95DF


}
.cls11{
    background-color: #D8BEEC
}
.frzcol{
    position: absolute;
    width: 13em;
    left: 0.4%;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
    content: 'Row ';
    z-index: 1;
}
.redColor{
    color: red;
}
.blackColor{
    color: green;
}
.tableheader{
    text-align:center;
}