.welcome_Message h1{
	font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    font-family: Shell Font, Arial, Helvetica, sans-serif;
	color: #404040;
	
}
.welcome_Note{
	font-weight: 400;
    font-size: 16px;
    line-height: 24px;
	/*color: #757575;*/
    color: #595959;
	font-family: SFProText, Arial, Helvetica, sans-serif;

}