/**
 * Created by Soumyajit.Jagadev on 21-Jun-20.
 */
.modalHeader{background-color:lightgrey;}
.modalAreaHeight{height: 350px;}
.modalTextArea{height: 300px; width: 100%;}
.acceptedFormat{color: rgb(0, 112, 210);}